
:root {
    --main-bg-color: #dbeec6;
  }
  

body {
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
       
}
.App {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.495);

}

.inner {
    display: flex;
    width: 95%;
    justify-content: center;
    padding: 2rem;
    
}
.question-part{
    display: flex;
    flex-direction: column;

    
}
.question {
    display: flex;
    font-size: 40px;
    align-items:center;
    justify-content: center;
    margin: auto 5%;
    

}
.answers {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.answers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    /* gap: 2rem; */
}

.answer {
    background-color: rgba(255, 255, 255, 0.879);
    width: 60%;
    height: 20px;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    transition: 1s all;
    cursor: pointer;
}


.answer:hover {
    transform: scale(1.05);
    background-color: #aae980;
    transition: 0.5s all;
}

@media only screen and (max-width: 1154px) {
    .inner {
        flex-direction: column;
    }
    body {
        background-color: rgb(246, 0, 0);
      }
    .question-part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }
    
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid rgb(205, 209, 199);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 0.3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.btn {
    margin-top: 20px;
    width: 105px;
    height: 35px;
    background-color:var(--main-bg-color);
    border:none; 
    cursor: pointer;
}
.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}




input[type="color"] {
    background-color: var(--main-bg-color);
    width: 300px;
    height: 40px;
    margin: 10px;
}
.color-part{
    display: flex;
    justify-content: center;
}